body{
    background-color: #1d1e29;
}

.grid {
    --radius: 38px;
    --perspective: 800px;
    --width: 280px;
  
    position: absolute;
    left: 0;
    right: 0;
    top: -2.5rem;
    bottom: -2.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .grid .area {
    position: relative;
    z-index: 1;
  }
  .glow,
  .glow-in1,
  .glow-in2,
  .glow-out1,
  .glow-out2 {
    position: absolute;
    overflow: hidden;
    border-radius: inherit;
    filter: brightness(1.5);
    pointer-events: none;
  }
  .glow::before,
  .glow-in1::before,
  .glow-in2::before,
  .glow-out1::before,
  .glow-out2::before {
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180%;
    height: 180%;
    content: "";
    transition: transform 1.5s ease;
  }
  .glow::before {
    z-index: -2;
    background: conic-gradient(
      #b52f2f 0%,
      transparent 20%,
      #cf8030 50%,
      black 60%,
      transparent 80%,
      #b52f2f 100%
    );
  }
  .glow-in1::before {
    background: conic-gradient(
      from 0turn at 50% 30%,
      #b52f2f 12%,
      transparent 17%,
      transparent 90%,
      #b52f2f 100%
    );
  }
  .glow-in2::before {
    background: conic-gradient(
      from 0turn at 45% 60%,
      transparent 30%,
      #cf8030 55%,
      transparent 60%
    );
  }
  .glow {
    filter: blur(18px);
    inset: 5px;
    opacity: 0.5;
    z-index: 3;
  }
  .glow-in1,
  .glow-in2 {
    filter: blur(50px);
    inset: -15px;
    opacity: 0.5;
  }
  .glow-in2 {
    opacity: 0.2;
  }
  .glow-out1 {
    inset: -1px;
    z-index: 1;
    opacity: 0.5;
  }
  .glow-out2 {
    inset: 6px;
    opacity: 1;
  }
  .glow-out2 {
    transform: translateZ(10px);
    border-radius: calc(var(--radius) * 0.8);
  }
  .glow-out1::before,
  .glow-out2::before {
    background: conic-gradient(
      #b52f2f 0%,
      transparent 10%,
      transparent 35%,
      #cf8030 50%,
      transparent 60%,
      transparent 90%,
      #b52f2f 100%
    );
  }
  
  .wrap:hover .glow::before,
  .wrap:hover .glow-in1::before,
  .wrap:hover .glow-in2::before,
  .wrap:hover .glow-out1::before,
  .wrap:hover .glow-out2::before {
    transform: translate(-50%, -50%) rotate(410deg);
  }
  .wrap {
    display: flex;
    align-items: center;
    justify-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9;
    border-radius: var(--radius);
  }
  .wrap::before {
    box-shadow:
      0 60px 140px 30px rgba(0, 0, 0, 0.8),
      0 -60px 120px rgba(102, 106, 135, 0.4);
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    content: "";
    inset: 8px;
    filter: blur(5px);
    border-radius: 50px;
  }
  
  .card {
    padding: 7px 7px 7px 7px;
    border-radius: inherit;
  }
  .card,
  .glare::before {
    transform-style: preserve-3d;
    will-change: transform;
  }
  .wrap:hover .card {
    transform: perspective(var(--perspective)) rotateX(0) rotateY(0)
      scale3d(1, 1, 1);
  }
  
  .card-bg {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(to bottom, #1e212b 40%, #0b0c11 100%);
    box-shadow:
      0 15px 20px rgba(0, 0, 0, 0.7),
      inset 0 0 3px rgba(255, 255, 255, 0.1),
      inset 0 29px 5px -31px white;
    z-index: 2;
  }
  
  .card-content {
    box-shadow:
      inset 0 0 2px rgba(255, 255, 255, 0.1),
      inset 0 0 70px #2e303c,
      inset 40px 70px 30px -20px rgba(0, 0, 0, 0.3),
      inset 0 30px 5px -30px rgba(255, 255, 255, 0.7),
      inset 0 -3px 2px -2px white;
    background: linear-gradient(to bottom, #201c29 40%, #37374b 100%);
    padding: 20px 28px 0 28px;
    border-radius: calc(var(--radius) * 0.8);
    transform-style: preserve-3d;
    transform: translateZ(10px);
    position: relative;
    z-index: 3;
  }
  .card,
  .card-content,
  .glare::before {
    transition: 2s cubic-bezier(0.03, 1, 0.5, 1);
  }
  
  header {
    line-height: 20px;
    margin-bottom: 3px;
    position: relative;
    transform: translateZ(30px);
    transform-style: preserve-3d;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease;
  }
  header .title {
    font-size: 12px;
  }
  header .views {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    max-width: 50%;
  }
  header .icon {
    border-radius: 50%;
    font-size: 24px;
    padding: 2px 0 0 0;
    width: 40px;
    height: 40px;
    position: absolute;
    right: -6px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
      0 0 1px 2px rgba(250, 187, 15, 0.7),
      0 -3px 2px 5px rgba(0, 0, 0, 0.3),
      0 0 1px 3px black,
      0 3px 3px 2px #ff98a8;
    transform-style: preserve-3d;
    transition: all 0.3s ease;
  }
  
  header .icon::before,
  header .icon::after {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: 50%;
    box-shadow: 0 0 1px 2px #fabb0f;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
  }
  header .icon:hover::before,
  header .icon:hover::after {
    animation: ring 1.5s ease infinite;
  }
  header .icon:hover::after {
    animation-delay: 750ms;
  }
  header .icon svg {
    display: block;
    animation: heart 1.5s linear infinite;
    pointer-events: none;
  }
  header .icon:hover svg {
    animation-duration: 0.8s;
  }
  header .icon:hover {
    background-color: #1e191e;
  }
  footer:hover,
  header .views:hover .number {
    color: white;
  }
  header span[data-label] {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 0;
  }
  header span[data-label]::before,
  header span[data-label]::after {
    content: attr(data-label);
    transition: all 0.2s ease;
  }
  header span[data-label]::before {
    left: 0;
    position: absolute;
    transform: translateY(-20px);
    color: white;
  }
  header .views:hover span[data-label]::before {
    transform: translateY(0px);
  }
  header .views:hover span[data-label]::after {
    transform: translateY(20px);
  }
  
  .number {
    text-align: right;
    overflow: hidden;
    display: flex;
    width: 64px;
  }
  .number::before {
    position: absolute;
    bottom: 0;
    left: 14px;
    content: ",";
  }
  .number > div {
    display: grid;
    width: 12px;
    height: 20px;
    line-height: 20px;
    margin-right: 1px;
    text-align: center;
    animation: units ease 3s forwards;
  }
  .number > div:nth-child(2) {
    margin-left: 7px;
  }
  header .views:hover .number > div {
    animation: none;
  }
  
  .chart {
    width: var(--width);
  }
  .chart svg {
    display: block;
    width: 100%;
    overflow: visible;
  }
  .chart svg line {
    animation: lines 5s ease calc(1s + var(--i) * 0.05s) infinite;
    opacity: 0;
    stroke: rgba(255, 255, 255, 0.5);
    filter: drop-shadow(0 -4px 1px rgba(0, 0, 0, 0.7));
  }
  
  footer {
    font-size: 10px;
    font-weight: 500;
    display: flex;
    transform: translateZ(30px) translateY(-3px);
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    margin: -10px -10px 0 -10px;
  }
  footer span {
    width: 100%;
    display: block;
    animation: labels 5s ease calc(1s + var(--i) * 0.1s) infinite;
    opacity: 0;
  }
  footer span::before {
    transition: all 0.2s ease;
    content: attr(data-label);
    display: block;
    text-align: center;
    font-weight: 600;
    width: 100%;
    padding: 15px 0;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.6);
  }
  footer span:hover::before {
    color: white;
    transform: translateY(-5px) scale(1.3);
    text-shadow: 0 7px 3px rgba(0, 0, 0, 0.3);
  }
  
  .path1-g {
    transform: translateY(-3px);
  }
  
  .path1,
  .path2 {
    stroke-dasharray: 0 510;
    stroke-dashoffset: 1;
    animation: path 5s ease infinite 1s;
  }
  
  .path1:nth-child(2),
  .path2:nth-child(2) {
    transform: translateY(5px);
  }
  
  .glare {
    position: absolute;
    overflow: hidden;
    border-radius: inherit;
    filter: blur(10px);
    inset: 5px;
    opacity: 0.5;
    pointer-events: none;
  }
  .glare::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    filter: blur(60px);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  
  .area:nth-child(1):hover ~ .wrap .glare::before {
    transform: translate(-200%, -200%);
    opacity: 0.7;
  }
  .area:nth-child(2):hover ~ .wrap .glare::before {
    transform: translate(-120%, -200%) scaleX(1.2);
    opacity: 0.5;
  }
  .area:nth-child(3):hover ~ .wrap .glare::before {
    transform: translate(-50%, -200%) scaleX(1.5);
    opacity: 0.5;
    background-color: #ffc2c2;
  }
  .area:nth-child(4):hover ~ .wrap .glare::before {
    transform: translate(30%, -200%) scaleX(1.2);
    opacity: 0.5;
    background-color: #ff9393;
  }
  .area:nth-child(5):hover ~ .wrap .glare::before {
    transform: translate(110%, -200%);
    opacity: 0.7;
    background-color: #ff5e5e;
  }
  
  .area:nth-child(6):hover ~ .wrap .glare::before {
    transform: translate(-230%, -50%) scaleY(1.2);
    opacity: 0.7;
    background-color: #fffca6;
  }
  .area:nth-child(7):hover ~ .wrap .glare::before {
    transform: translate(-200%, -50%);
    opacity: 0.5;
    background-color: #fffca6;
  }
  .area:nth-child(8):hover ~ .wrap .glare::before {
    filter: blur(100px);
  }
  .area:nth-child(9):hover ~ .wrap .glare::before {
    transform: translate(110%, -50%);
    opacity: 0.5;
    background-color: #ff9393;
  }
  .area:nth-child(10):hover ~ .wrap .glare::before {
    transform: translate(140%, -50%) scaleY(1.2);
    opacity: 0.7;
    background-color: #ff9393;
  }
  
  .area:nth-child(11):hover ~ .wrap .glare::before {
    transform: translate(-200%, 100%);
    opacity: 0.7;
    background-color: #fffa5e;
  }
  .area:nth-child(12):hover ~ .wrap .glare::before {
    transform: translate(-120%, 100%) scaleX(1.2);
    opacity: 0.5;
    background-color: #fffca6;
  }
  .area:nth-child(13):hover ~ .wrap .glare::before {
    transform: translate(-50%, 100%) scaleX(1.5);
    opacity: 0.5;
    background-color: #fffdce;
  }
  .area:nth-child(14):hover ~ .wrap .glare::before {
    transform: translate(30%, 100%) scaleX(1.2);
    opacity: 0.5;
  }
  .area:nth-child(15):hover ~ .wrap .glare::before {
    transform: translate(110%, 100%);
    opacity: 0.7;
  }
  
  .area:nth-child(1):hover ~ .wrap .card {
    transform: perspective(var(--perspective)) rotateX(-15deg) rotateY(15deg)
      scale3d(1, 1, 1);
  }
  .area:nth-child(2):hover ~ .wrap .card {
    transform: perspective(var(--perspective)) rotateX(-15deg) rotateY(7deg)
      scale3d(1, 1, 1);
  }
  .area:nth-child(3):hover ~ .wrap .card {
    transform: perspective(var(--perspective)) rotateX(-15deg) rotateY(0)
      scale3d(1, 1, 1);
  }
  .area:nth-child(4):hover ~ .wrap .card {
    transform: perspective(var(--perspective)) rotateX(-15deg) rotateY(-7deg)
      scale3d(1, 1, 1);
  }
  .area:nth-child(5):hover ~ .wrap .card {
    transform: perspective(var(--perspective)) rotateX(-15deg) rotateY(-15deg)
      scale3d(1, 1, 1);
  }
  
  .area:nth-child(6):hover ~ .wrap .card {
    transform: perspective(var(--perspective)) rotateX(0) rotateY(15deg)
      scale3d(1, 1, 1);
  }
  .area:nth-child(7):hover ~ .wrap .card {
    transform: perspective(var(--perspective)) rotateX(0) rotateY(7deg)
      scale3d(1, 1, 1);
  }
  .area:nth-child(8):hover ~ .wrap .card {
    transform: perspective(var(--perspective)) rotateX(0) rotateY(0)
      scale3d(1, 1, 1);
  }
  .area:nth-child(9):hover ~ .wrap .card {
    transform: perspective(var(--perspective)) rotateX(0) rotateY(-7deg)
      scale3d(1, 1, 1);
  }
  .area:nth-child(10):hover ~ .wrap .card {
    transform: perspective(var(--perspective)) rotateX(0) rotateY(-15deg)
      scale3d(1, 1, 1);
  }
  
  .area:nth-child(11):hover ~ .wrap .card {
    transform: perspective(var(--perspective)) rotateX(15deg) rotateY(15deg)
      scale3d(1, 1, 1);
  }
  .area:nth-child(12):hover ~ .wrap .card {
    transform: perspective(var(--perspective)) rotateX(15deg) rotateY(7deg)
      scale3d(1, 1, 1);
  }
  .area:nth-child(13):hover ~ .wrap .card {
    transform: perspective(var(--perspective)) rotateX(15deg) rotateY(0)
      scale3d(1, 1, 1);
  }
  .area:nth-child(14):hover ~ .wrap .card {
    transform: perspective(var(--perspective)) rotateX(15deg) rotateY(-7deg)
      scale3d(1, 1, 1);
  }
  .area:nth-child(15):hover ~ .wrap .card {
    transform: perspective(var(--perspective)) rotateX(15deg) rotateY(-15deg)
      scale3d(1, 1, 1);
  }
  
  @keyframes labels {
    0% {
      transform: translateY(-30px);
      filter: blur(10px);
    }
    8% {
      transform: translateY(10px);
    }
    15% {
      transform: translateY(0);
      opacity: 1;
      filter: blur(0);
    }
    80% {
      transform: translateY(0);
      opacity: 1;
    }
    85% {
      filter: blur(0px);
      transform: translateY(-5px);
    }
    90% {
      transform: translateY(15px);
      opacity: 0;
      filter: blur(10px);
    }
  }
  
  @keyframes lines {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    7% {
      transform: translateY(-20px);
    }
    12% {
      transform: translateY(10px);
    }
    17% {
      transform: translateY(-5px);
    }
    25% {
      transform: translateY(0);
      opacity: 1;
    }
  
    80% {
      transform: translateY(0);
      opacity: 1;
    }
    85% {
      transform: translateY(-20px);
    }
    90% {
      transform: translateY(20px);
      opacity: 0;
    }
  }
  
  @keyframes heart {
    5% {
      transform: scale(0.8) translateZ(0px);
    }
    20% {
      transform: scale(1.2) translateZ(40px);
    }
    40% {
      transform: scale(1) translateZ(20px);
    }
    50% {
      transform: scale(1.2) translateZ(30px);
    }
    70% {
      transform: scale(0.8) translateZ(20px);
    }
    100% {
      transform: scale(1) translateZ(0px);
    }
  }
  
  @keyframes ring {
    0% {
      transform: scale(1);
      opacity: 0;
    }
    30% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
      filter: blur(5px);
    }
  }
  
  @keyframes path {
    0% {
    }
    30% {
      stroke-dasharray: 510 510;
    }
    80% {
      stroke-dashoffset: 1;
      stroke-dasharray: 510;
    }
    100% {
      stroke-dashoffset: 1;
      stroke-dashoffset: -510;
    }
  }
  
  @keyframes units {
    to {
      transform: translateY(calc(-100% * calc(var(--num) + 1)));
    }
  }
  